<div class="row">
  <div class="twelve columns">
    <h3 id="page_headline">manage trip</h3>
  </div>
</div>

<%= render :partial => "form" %>

<div id="form-center">
    <h2>Travelers</h2>
      <ol>
      <% @trip.travelers.each do |traveler| %>
        <li><%= link_to traveler.username, users_path(traveler) %></li>
      <% if current_user != traveler %>
        <div class="twelve columns">
          <%= button_to "remove", {:controller => 'user_trips', :action => 'destroy', :trip_id => @trip.id, :trip_role => "traveler", :user_id => traveler.id}, method: :delete, :class =>"radius button small" %>
        </div>
      <% end %>
      <% end %>
      </ol>
        <h5>Add Travelers<h5>
        <%= form_tag(:controller => "user_trips", :action => "create", method: :post) do %>
          <%= text_field_tag("username") %>
          <%= hidden_field_tag("id", @trip.id) %>
          <%= hidden_field_tag("trip_role", 'traveler') %>
          <%= submit_tag("Add Traveler", :class => "radius button small") %>
        <% end %>

      <% if @trip.visible %>
        <h2>Kreeprs</h2>
        <% @trip.kreeprs.each do |kreepr| %>
        <div class="four columns">
          <h5><%= link_to kreepr.username, users_path(kreepr) %></h5>
        </div>
        <div class="eight columns">
          <%= button_to "remove", {:controller => 'user_trips', :action => 'destroy', :trip_id => @trip.id, :trip_role => "kreepr", :user_id => kreepr.id}, method: :delete, :class =>"radius button small" %>
        </div>
        <% end %>
        <h5>Add Kreeprs<h5>
        <%= form_tag(:controller => "user_trips", :action => "create", method: :post) do %>
          <%= text_field_tag("username") %>
          <%= hidden_field_tag("id", @trip.id) %>
          <%= hidden_field_tag("trip_role", 'kreepr') %>
          <div class="row">
          <%= submit_tag("Add Kreepr", :class => "radius button small") %>
          </div>
        <% end %>
      <% end %>
      <div id="delete-trip">
        <%= button_to "Delete trip", trip_path(@trip), method: :delete, :class => "alert radius button" %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
