<div class="row" id="banner">
  <center>
    <div class="seven columns">
      <h1 id="page headline"><%= @trip.name %></h1>
      <h3 id="page headline"><%= "#{@trip.start} - #{@trip.end}" %></h3>
      <h3 id="page headline"><%= @trip.destination %></h3>
    </div>
  </center>
  <div class="five columns">
    <center>
    <img src="http://placehold.it/600x300/aaddaa/000000&text=[map of Paris]">
    </center>
  </div>
</div>

<div class="row">
  <div class="three columns">
    <br>
    <div class="eleven columns offset-by-one">
      <div id="side_bar">
        <a href="#"><h3>Travelers</h3></a>
        <h5><a href="#">klabnickers</a></h5>
        <h5><a href="#">kytrinyx</a></h5>
        <h5><a href="#">a.hoy</a></h5>
        <h5><a href="#">grimm reaper</a></h5>
      </div>
      <br>
      <div id="side_bar">
        <a href="#"><h3>Kreepers</h3></a>
        <h5><a href="#">phil'erup</a></h5>
        <h5><a href="#">sussinkt</a></h5>
        <h5><a href="#">harceleur</a></h5>
        <a href="#" class="radius button">Follow this Trip</a>
      </div>
    </div>
  </div>

  <div class="nine columns">
    <br>
    <br>

    <%= simple_form_for @trip do |f| %>
      <fieldset>
        <legend>What's up?</legend>
        <div class="row">
          <textarea rows="3" placeholder="Write something"></textarea>
        </div>
        <div class="row" align="right">
          <a href="#" class="radius button">Post Note</a>
        </div>
      </fieldset>
      <% end %>

    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <img src="http://www.thailandvoyage.com/image/grandpalace/20050507eBangkok-GrosserPalast0446.jpg">
        <h6><a href="#">a.hoy</a> posted to trip <a href="#">Bangkok</a> 1 day ago</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <p id="tweet">Team Mexico pork cloud</p>
        <h6><a href="#">denboy</a> Tweeted to trip <a href="#">top secret</a> 1 day ago</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <img src="http://www.absoluterights.com/wp-content/uploads/2012/09/eiffel-tower.jpeg">
        <h6><a href="#">kytrinyx</a> posted to trip <a href="#">La France</a> 2 days ago</h6>
      </div>
    </div>
  </div>
</div>
