<div class="row" id="banner">
  <center>
    <div class="seven columns">
      <h1 id="page headline"><%= @trip.name %></h1>
      <h3 id="page headline"><%= "#{@trip.start} - #{@trip.end}" %></h3>
      <h3 id="page headline"><%= @trip.destination %></h3>
    </div>
  </center>
  <div class="five columns">
    <center>
    <img src="http://placehold.it/600x300/aaddaa/000000&text=[map of Paris]">
    </center>
  </div>
</div>

<div class="row">
  <div class="three columns">
    <br>
    <div class="eleven columns offset-by-one">
      <div id="side_bar">
        <h3>Travelers</h3>
        <% @trip.travelers.each do |traveler| %>
          <h5><a href="#"><%= traveler.user.username %></a></h5>
        <% end %>
      </div>
      <br>
      <div id="side_bar">
        <h3>Kreeprs</h3>
        <% @trip.kreeprs.each do |kreepr| %>
          <h5><a href="#"><%= kreepr.user.username %></a></h5>
        <% end %>
        <% unless current_user.trips.include?(@trip) %>
          <a href="#" class="radius button">Follow this Trip</a>
        <% end %>
      </div>
      <%= button_to "Edit this trip", root_path %>
    </div>
  </div>

  <div class="nine columns">
    <%= render :partial => 'post_note',
               :locals => {:trip => @trip, :note => @note } %>

    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <img src="http://www.thailandvoyage.com/image/grandpalace/20050507eBangkok-GrosserPalast0446.jpg">
        <h6><a href="#">a.hoy</a> posted to trip <a href="#">Bangkok</a> 1 day ago</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <p id="tweet">Team Mexico pork cloud</p>
        <h6><a href="#">denboy</a> Tweeted to trip <a href="#">top secret</a> 1 day ago</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <img src="http://www.absoluterights.com/wp-content/uploads/2012/09/eiffel-tower.jpeg">
        <h6><a href="#">kytrinyx</a> posted to trip <a href="#">La France</a> 2 days ago</h6>
      </div>
    </div>
  </div>
</div>
