<div class="row">
  <div class="six columns">
    <h2 id="page headline"><%= @trip.name %></h1>
    <h3 id="page headline"><%= "#{@trip.start} - #{@trip.end}" %></h3>
    <h3 id="page headline"><%= @trip.destination %></h3>
  </div>
  <%= render partial: 'shared/map', locals: { :location => @trip.destination } %>
</div>

<div class="row">
  <div class="three columns">
    <br>
    <div class="eleven columns offset-by-one">
      <div id="side_bar">
        <h3>Travelers</h3>
        <% @trip.travelers.each do |traveler| %>
          <h5><%= link_to traveler.username, user_path(traveler) %></h5>
        <% end %>
      </div>
      <br>
      <div id="side_bar">
        <h3>Kreeprs</h3>
        <% @trip.kreeprs.each do |kreepr| %>
          <h5><%= link_to kreepr.username, user_path(kreepr) %></a></h5>
        <% end %>
        <% if current_user && !current_user.my_trips.include?(@trip) %>
          <%= button_to "Follow this Trip", {:controller => 'user_trips', :action => 'create_kreepr', :trip_id => @trip.id, :trip_role => "kreepr", :username => current_user.username}, :class => "radius button" %>
        <% elsif current_user && @trip.kreeprs.include?(current_user) %>
          <%= button_to "Unfollow this Trip", {:controller => 'user_trips', :action => 'destroy', :trip_id => @trip.id, :trip_role => "kreepr", :user_id => current_user.id}, method: :delete, :class => "radius button" %>
        <% end %>
      </div>
      <br>
      <% if current_user && current_user == @trip.owner %>
        <%= button_to "Edit this trip", edit_trip_path(@trip), method: :get, :class => "radius button" %>
      <% end %>
    </div>
  </div>

  <div class="nine columns">
    <%= render :partial => 'post_note',
               :locals => {:trip => @trip, :note => @note } %>

    <%= render :partial => 'feed_item',
               :locals => {:feed_items => @feed_items } %>
  </div>
</div>
