<div class="row" style="margin-top: 20px;">
  <div class="two columns offset-by-one">
    <%= image_tag(@user.avatar, :size => "150x150", :alt => "kreepr") %>
  </div>
  <div class="five columns">
    <br>
    <%= simple_form_for @user, url: account_path do |f| %>
      <%= f.input :username, required: false, label: "Change Username", label_html: { style: "font-family: Raleway; font-size: 20px; font-weight: bold;" }%>
      <%= f.submit 'Update Username', class: 'button radius small' %>
    <% end %>
  </div>
  <div class="four columns">
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="seven columns offset-by-one">
    <div id="feed_item">
    <h2>Linked Services</h2>

      <div class="row">
        <div class="two columns">
          <%= image_tag(auth_source_image_file('tweet'), style: "margin-top: 20px; margin-left: 25px;", :size => '40x40') %>
        </div>
        <div class="ten columns">
          <h4>Twitter</h4>
          <span><%= link_to "Disconnect", user_path,
                                          :method => :delete,
                                          :class => 'radius button small', style: "background-color: #8d8473; border: 1px solid #4f4532;" %></span>
          <br>
          <br>
          NOTE: This will result in complete account deletion
        </div>
      </div>
      <br>
      <div class="welcome_hr">
      </div>
      <div class="row">
        <div class="two columns">
          <%= image_tag(auth_source_image_file('photo'), style: "margin-top: 20px; margin-left: 25px", :size => '40x40') %><br><br>
        </div>
        <div class="ten columns">
          <h4>Instagram</h4>

          <span>
          <% unless @auth_source_providers.include?('instagram') %>
            <%= link_to "Connect", "/auth/instagram", :id => "connect-instagram", :class => 'radius button small' %>
          <% else %>
            <%= link_to "Disconnect", auth_source_path('instagram'),
                                      :method => :delete,
                                      :class => 'radius button small', style: "background-color: #8d8473; border: 1px solid #4f4532;" %>
          <% end %></span>
        </div>
      </div>
      <br>
      <div class="welcome_hr">
      </div>

      <div class="row">
        <div class="two columns">
           <%= image_tag(auth_source_image_file('check_in'), style: "margin-top: 20px; margin-left: 25px", :size => '40x40') %>
        </div>
        <div class="ten columns">
          <h4>Foursquare</h4>
          <span>
          <% unless @auth_source_providers.include?('foursquare') %>
            <%= link_to "Connect", "/auth/foursquare", :id => "connect-foursquare", :class => 'radius button small' %>
          <% else %>
            <%= link_to "Disconnect", auth_source_path('foursquare'),
                                      :method => :delete,
                                      :class => 'radius button small', style: "background-color: #8d8473; border: 1px solid #4f4532;" %>
          <% end %></span>
        </div>
      </div>

      <hr>

      <div class="row">
        Your API Key: <%= current_user.api_key.key %>
        <br>
        <br>
        Use this key to authenticate your account through the Kreepr gem!
      </div>
    </div>
  </div>
</div>
