<div class="row">
  <div class="two columns offset-by-one">
    <%= image_tag(@user.avatar, :size => "150x150", :alt => "kreepr") %>
  </div>
  <div class="nine columns">
    <%= simple_form_for @user, url: account_path do |f| %>
      <%= f.input :username %>
      <%= f.submit 'Update Username' %>
    <% end %>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="eleven columns offset-by-one">
    <h3>Linked Services</h3>
    <div class="row">
      <div class="one column">
        <%= image_tag(auth_source_image_file('tweet'), :size => '40x40') %>
        <br><br>
      </div>
      <div class="eleven columns">
        <h4>Twitter</h4><br>
        <%= link_to "Disconnect", user_path,
                                  :method => :delete %>
        <br>
        <small>NOTE: This result in complete account deletion</small>
      </div>
    </div>
    <div class="row">
      <div class="one column">
        <%= image_tag(auth_source_image_file('photo'), :size => '40x40') %><br><br>
      </div>
      <div class="eleven columns">
        <h4>Instagram</h4><br>
        <% unless @auth_source_providers.include?('instagram') %>
          <%= link_to "Connect", "/auth/instagram", :id => "connect-instagram" %>
        <% else %>
          <%= link_to "Disconnect", auth_source_path('instagram'),
                                    :method => :delete %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="one column">
         <%= image_tag(auth_source_image_file('check_in'), :size => '40x40') %>
          <br><br>
         <br>
      <br>
      <br>
      <br>
      </div>
      <div class="eleven columns">
        <h4>Foursquare</h4><br>
        <% unless @auth_source_providers.include?('foursquare') %>
          <%= link_to "Connect", "/auth/foursquare", :id => "connect-foursquare" %>
        <% else %>
          <%= link_to "Disconnect", auth_source_path('foursquare'),
                                    :method => :delete %>

        <% end %>
      </div>
      Your API Key: <%= current_user.api_key.key %>
      <br>
      <small>Use this key to authenticate your account through the Feed Burner gem!</small>
    </div>
  </div>
</div>
